*
{
   background-image: url('/images/blue\ red.jpg'); 
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
    
}

h1
{
    color: aqua;
   text-align: center;
   font-weight:500;
   
}

#kevin
{
    color: aqua;
    letter-spacing: 2px;
}

nav ul li a
{
color: aliceblue;
text-decoration: none;
text-transform: capitalize;
}

nav ul li a:hover
{
    color: #0ee0e0;
    transition: .4s;
}


ul 
{
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(28, 78, 121);
    margin-top: 0px;
    padding-top: 20px;
    font-size: large;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

li 
{
font-size:30px;
text-decoration: none;
}

.links 
{
    
  cursor: pointer;
}

#kip
{
    color: rgb(48, 6, 56);
}
#this
{
    color: rgb(48, 6, 56);
}

#portf
{
    color: rgb(48, 6, 56);
}
 nav
 {
     margin: 0px;
     border: 0px;
     padding: 0px;

 }
.me
{
    float: right;
    overflow: hidden;
    position:relative;
    height:max-content;
    display:block;
}

.description
{
    font-size: 52px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aqua;
    text-align: justify;
    
}

#azure
{
    color: rgb(48, 6, 56);
}

#google
{
    color: rgb(48, 6, 56);
}
#amazon
{
    color: rgb(48, 6, 56);
}

.button a
{
   text-align: end;
   float: right;
   font-size:30px;
}