*
{
   background-image: url('/images/blue\ red.jpg'); 
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
    
}

h1
{
    color: aqua;
   text-align: center;
   font-weight:500;
   color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
   
}

#kevin
{
    color: aqua;
    letter-spacing: 2px;
}

nav ul li a
{
color: aliceblue;
text-decoration: none;
text-transform: capitalize;
}

nav ul li a:hover
{
    color: #00f9f9;
}


ul 
{
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(28, 78, 121);
    margin-top: 0px;
    padding-top: 20px;
    font-size: large;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

li 
{
font-size:30px;
text-decoration: none;
}

.links 
{
    
  cursor: pointer;
}

#kip
{
    color: rgb(48, 6, 56);
}
#this
{
    color: rgb(48, 6, 56);
}

#portf
{
    color: rgb(48, 6, 56);
}
 nav
 {
     margin: 0px;
     border: 0px;
     padding: 0px;

 }
.me
{
    float: right;
    overflow: hidden;
    position:static;
    height:49vh;

}

.description
{
    font-size: 52px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(44, 3, 53);
	display: flex;
justify-content: center;
    
    
}

#azure
{
    color: rgb(48, 6, 56);
    font-weight: bolder;
}

#google
{
    color: rgb(48, 6, 56);
    font-weight: bolder;
}

#amazon
{
    color: rgb(48, 6, 56);
    font-weight: bolder;
}
#mastercard
{
    font-weight: bolder;
}


.button a
{
   text-align: end;
   float: right;
   font-size:30px;
   	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
    bottom: 30px;
}

.button:hover
{
    transform: scale(0.9);
}

.newslatter form
{
    width:380px;
    max-width:100%;
    position: relative;

}

.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}

.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

h2
{
   text-align: center;
   color:rgb(48, 6, 56);
   font-size:50px;
   padding-top: 10px;
   border-radius: 30px;
  border: #f9004d;
   border-width: 10px;
   margin: 50px;
   padding-bottom: 10px;
   border-style:groove;


  
}

.hobbies
{
    display: flex;
   -ms-flex-align: center;
    font-style: italic;
    color: #00f9f9;
    justify-content:space-evenly;
    justify-items: first baseline;
    text-transform: capitalize;
    
}

h5
{
    color: rgb(44, 3, 53);;
    font-weight: 200;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-decoration:underline;
  
    text-transform: capitalize;
}


#skies
{
    box-sizing: border-box;
}

.design
{
    border: 5px #000 solid;
    justify-content: center;
    display:block;
    border-width: 5px;
    border-radius: 20px;
    border-style:groove;
    height: 365px;
	width: 335px;
	padding: 20px 35px;
	background:#b61045;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
  
    	
    
}


.exploring
{
    border: 5px #000 solid;
    justify-content: center;
    display:block;
    border-width: 5px;
    border-radius: 20px;
    border-style:groove;
    height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #b61045;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.meditation
{
    border: 5px #000 solid;
    justify-content: center;
    display:block;
    border-width: 5px;
    border-radius: 20px;
    border-style:groove;
    height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #b61045;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow:visible;
	text-align: center;
}

.farming
{
    border: 5px #000 solid;
    justify-content: center;
    display:block;
    border-width: 5px;
    border-radius: 20px;
    border-style:groove;
    height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #b61045;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow:visible;
	text-align: center;
}



footer{
	position: relative;
	width:100%;
	height: 220px;
	background: rgb(44, 3, 53);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1)
{
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

footer p:nth-child(2)
{
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.social{
	display: flex;
}

.social a{
	width: 55px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content:space-between;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
   
}

.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

.end{
	position:static;
	color:#f9004d;
	bottom: 35px;
	font-size: 14px; 
}